---
layout: default
title: About us
permalink: about/
lang: en
---
{% include components/about.html
    heading_upper = "Of the Makers, by the Makers, for the Makers"
    heading_lower = "About Makers Guesthouse"
    img_src = "/img/about.jpg"
    img_alt = ""
    content = '
    <p>Founded in 2020, <em>Makers Guesthouse</em> is the first
    Makerspace in Siem Reap, hoping to provide a creative space for guests,

    local residents, and busines owners, where your can learn mordern
    technologies, create <strong>things</strong> that help you and others, and
    discover the joy of creation.</p>
    '
%}
{% include check_in_and_out.html %}
{% include sns.html %}
