---
layout: default
title: Makers ゲストハウス | A home of Makers in Siem Reap
lang: ja
permalink: /
---
{% include components/container_generic.html
    heading_upper = "A home of Makers"
    heading_lower = "Makers<br>ゲストハウス"
    content = "Functional, affordable, and <em>geeky</em> guesthouse in Siem
    Reap"
    img_src = "/img/intro.jpg"
    link_button_enable = true
    link_button_text = "ご予約"
    link_button_href = "https://hotels.cloudbeds.com/reservation/Xnbrf3"
%}
{% include components/container_generic.html
    heading_lower = "Welcome"
    text_align = "left"
    text_layout = "right"
    img_src = "/img/bed.jpg"
    link_button_enable = true
    link_button_text = "お部屋のご案内"
    link_button_href = "products/rooms/"
    content = '
    <p class="mb-3"><strong>Makers ゲストハウス</strong>は、宿泊とシェムリアップ初のメーカースペースが融合した「モノ作り」をテーマにしたゲストハウスです。</p>
    <p>近年注目の集まるシェムリアップ川東岸のワットボーエリアに位置し、周辺には夜間も営業するスーパーマーケット、ゲストハウス、レストランも豊富です。アンコール・ワットまではトゥクトゥクで20分、深夜まで賑やかなパブストリートまでは徒歩15分、トゥクトゥクで5分(1米ドル)、交通量も少なく、静かな環境を重視するお客様に人気のエリアです。</p>
    <p>全室個室のお部屋には、エアコン、室内ファン、お手洗いが完備されています。ヘアドライヤー、USB充電器、ボイスアシスタントスピーカーなどもご用意しております。</p>'
%}
{% include components/container_generic.html
    heading_upper = "作る楽しさ"
    heading_lower = "メーカースペース"
    section_heading_size = "mb-4"
    text_align = "left"
    img_src = "/img/products-02.jpg"
    link_button_enable = true
    link_button_text = "さらに詳しく"
    link_button_href = "products/makerspace/"
    content = '
    <p class="mb-3"><strong>Makers ゲストハウス</strong>はシェムリアップで初のメーカースペースで、IT技術とモノ作りを実践する機材と場所を提供しています。</p>
    <p>メーカースペースは経験者だけのスペースではなく、未経験者や初学者がIoT、組み込みプログラミング、3Dプリント、そして<strong>作る楽しさ</strong>を学べる場所です。
    '
%}
{% include components/container_generic.html
    heading_upper = "高速 高品質"
    heading_lower = "WiFiネットワーク"
    section_heading_size = "mb-4"
    text_align = "left"
    img_src = "/img/products-03.jpg"
    link_button_enable = true
    link_button_text = "さらに詳しく"
    link_button_href = "products/network/"

    content = '
    <p class="mb-3">ネットワークの品質は、ご滞在のお客様にとって快適性の重要な指標であると認識しております。WiFiネットワークは24時間監視され、プロによって運用管理されています。</p>

    <p>上位回線には<a href="https://www.sinet.com.kh/" target="_blank">SINET</a>の企業向け光回線を採用し、近隣世帯とは回線を共有しない占有型回線、上下対称60 Mbpsの帯域、高品質のバックボーンで国内および海外への快適な通信をお約束します。</p>
    '
%}
{% include components/cta.html
    heading_upper = "オーナー様向け"
    heading_lower = "ソリューション"
    section_heading_size = "mb-4"
    text_align = "left"

    content = '
    <p>近年の宿泊事業はITおよびネットワークの活用が必須とされていますが、予算や人的資源に制約の多い中小規模の宿泊事業では、大きな課題となっています。<strong>Makers ゲストハウス</strong>では、事業における課題をアウトソースすることなく、ITの活用とモノ作りによって解決しています。こうした解決策を現場で実際に目にすることができ、テクノロジーによってどのような課題を解決できるのかを理解できる場所とすることを目的にしています。</p>
    '
%}
