---
layout: default
title: Makers Guesthouse | A home of Makers in Siem Reap
lang: en
permalink: /
---
{% include components/container_generic.html
    heading_upper = "A home of Makers"
    heading_lower = "Makers"
    content = "Functional, affordable, and <em>geeky</em> guesthouse in Siem
    Reap"
    img_src = "/img/intro.jpg"
    link_button_enable = true
    link_button_text = "Book room"
    link_button_href = "https://hotels.cloudbeds.com/reservation/Xnbrf3"
%}
{% include components/container_generic.html
    heading_lower = "Welcome"
    text_align = "left"
    text_layout = "right"
    img_src = "/img/bed.jpg"
    content = '<p class="mb-3">Proudly being the first Makerspace in Siem
    Reap, Cambodia, <strong>Makers Guesthouse</strong> is the place for
    Makers, operated by a Maker, where Makers and non-Makers, can enjoy
    reasonable accommodation in a quiet neighborhood, visit the Angkor Wat in
    a 20 minutes Tuk Tuk ride, and build <strong>things</strong>.</p><p>All
    rooms have private shower, fans, and A/C. No-frills, but clean and enough
    space for big suitcase(s). Practical amenities are provided for free, such
    as hair dryers, USB chargers, AC adapters, voice assistant speakers, and
    managed WiFi.</p>'
%}
{% include components/container_generic.html
    heading_upper = "Learn and build things!"
    heading_lower = "Makerspace"
    section_heading_size = "mb-4"
    text_align = "left"
    img_src = "/img/products-02.jpg"
    link_button_enable = true
    link_button_text = "Read more"
    link_button_href = "products/makerspace/"
    content = '
    <p class="mb-3">The first in the town, we offer a place to learn technologies and build
    <strong>things</strong>. We provide tools, facilities, and instruments.</p>


    <p>We also teach basics for beginners. Even if you are not a maker (yet),
    you can learn IoT, computer programmings, 3D CAD, and, most importantly,
    the joy of building <strong>things</strong> and making something work.</p>
    '
%}
{% include components/container_generic.html
    heading_upper = "Reliable and managed"
    heading_lower = "WiFi network"
    section_heading_size = "mb-4"
    text_align = "left"
    img_src = "/img/products-03.jpg"
    link_button_enable = true
    link_button_text = "Read more"
    link_button_href = "products/network/"

    content = '<p class="mb-3">Internet access is an essential infrastructure for everyone.
    Our WiFi network is monitored 24/7, and managed by a professional network
    engineer. <a href="https://www.sinet.com.kh/" target="_blank">SINET</a>,
    our ISP, is known as the best ISP in the country, with symmetric
    bandwidth, 60 Mbps, for upload and download, dedicated &amp; stable
    bandwidth over optical fibre, and one of the best domestic and
    international network backbone in Cambodia. The access line is NOT shared
    with neighbors, but dedicated to the property, i.e. "true" FTTH.</p>
    '
%}
{% include components/cta.html
    heading_upper = "For property business owners"
    heading_lower = "Solutions"
    section_heading_size = "mb-4"
    text_align = "left"

    content = '<p>We solve our own issues and challenges in guesthouse
    business. The solutions are equally appliciable to other local guesthouse
    businesses, which are often limited in budget. We are planning to provide
    such solutions, tailored for each business. The guesthouse is a showcase
    of our solutions, where you will see what you can do in your business with
    modern technologies.
    </p>
    '
%}
