---
layout: default
title: Makers Guesthouse | [บ้านของเหล่า Makers ในเสียมเรียบ]
lang: th
permalink: /
---
{% include components/container_generic.html
    heading_upper = "บ้านของเหล่า Makers, Makers Guesthouse"
    heading_lower = "ยินดีต้อนรับ"
    text_align = "left"
    img_src = "/img/intro.jpg"
    link_button_enable = true
    link_button_text = "จองห้อง"
    link_button_href = "https://hotels.cloudbeds.com/reservation/Xnbrf3"
    content = '
    <p class="mb-3"><strong>Makers Guesthouse</strong> เป็นบ้านของเหล่า Makers แห่งแรกในเสียมเรียบ
    ประเทศกัมพูชา <strong>Makers Guesthouse</strong> คือสถานที่ของ Makers
    บริหารโดย Maker, ที่ซึ่ง Makers และคนที่ไม่ใช่ Makers สามารถมาสนุกมนานร่วมกันได้
    เรามีเครื่องอำนวยความสะดวกที่เหมาะสม แถมยังตั้งอยู่ในพื้นที่ที่เงียบสงบ ถ้าอยากไปนครวัด
    ก็แค่นั่งตุ๊กตุ๊กไป 20 นาทีเท่านั้น และคุณยังสามารถ <strong>สร้างสรรค์</strong>สิ่งต่าง ๆ ได้ด้วย</p><p>
    ทุกห้องมีห้องอาบน้ำส่วนตัว แอร์ และพัดลม ถึงจะไม่มีของตกแต่งเป็นพิเศษ แต่ห้องก็สะอาดและมีพื้นที่ให้กับกระเป๋าเดินทางใบใหญ่
    มีอุปกรณ์ต่างจำเป็นต่าง ๆ ให้ใช้ได้ฟรี เช่น ไดร์เป่าผม สายชาร์จ USB ปลั๊กแปลงไฟฟ้า
    voice assistant speakers และ WiFi</p>
    '
%}
<hr />
{% include components/container_generic.html
    heading_upper = "เรียนรู้และสร้างสรรค์สิ่งต่าง ๆ กันเถอะ!"
    heading_lower = "Makerspace"
    section_heading_size = "mb-4"
    text_align = "left"
    img_src = "/img/products-02.jpg"
    link_button_enable = true
    link_button_text = "อ่านเพิ่มเติม"
    link_button_href = "products/makerspace/"
    content = '
    <p class="mb-3">บ้านของ Makers แห่งแรกในเสียมเรียบ ที่นี่เรามีพื้นที่ให้เรียนรู้เทคโนโลยีและ
    <strong>สร้างสรรค์</strong> สิ่งต่าง ๆ ได้ด้วยมือของคุณเอง
    เรามีเครื่องมือ วัสดุ และอุปกรณ์ที่จำเป็นเตรียมไว้ให้อย่างเพียบพร้อม</p>


    <p>นอกจากนี้ เรายังสอนพื้นฐานให้กับผู้ที่เพิ่งเริ่มเรียนรู้ คนที่ไม่มีพื้นฐานมาก่อน และคนที่ (ยัง) ไม่ใช่ Makers อีกด้วย
    คุณจะได้เรียนเกี่ยวกับ IoT, การเขียนโปรแกรม, 3D CAD, และที่สำคัญที่สุดคุณจะได้สนุกสนานกับการ
     <strong>สร้างสรรค์</strong>สิ่งต่าง ๆ ที่สามารถใช้งานได้จริง</p>
    '
%}
<hr />
{% include components/container_generic.html
    heading_upper = "เชื่อถือได้และได้รับการดูแลจัดการเป็นอย่างดี"
    heading_lower = "เครือข่าย WiFi"
    section_heading_size = "mb-4"
    text_align = "left"
    img_src = "/img/products-03.jpg"
    link_button_enable = true
    link_button_text = "อ่านเพิ่มเติม"
    link_button_href = "products/network/"

    content = '<p class="mb-3">การเข้าถึงอินเทอร์เน็ตได้เป็นสิ่งพื้นฐานที่จำเป็นสำหรับทุกคน
    เครือข่าย WiFi ของเราจะได้รับการดูแลตลอด 24 ชั่วโมง โดยวิศวกรผู้เชี่ยวชาญด้านเครือข่ายอินเทอร์เน็ต
    <a href="https://www.sinet.com.kh/" target="_blank">SINET</a>,
    ISP ของเราเป็น ISP ที่มีชื่อเสียงที่สุดในประเทศ โดยเป็น symmetric bandwitch ที่มีความเร็ว
    60 Mbps ทั้งในการอัพโหลดและดาวน์โหลดความเร็วสูงและเสถียรผ่านระบบ Fiber Obtic
    และยังเป็นระบบอินเทอร์เน็ตที่ดีที่สุดทั้งใช้ได้ทั้งระบบอินเทอร์เน็ตในท้องถิ่นและสากล และยังเป็นที่นิยมที่สุดในประเทศกัมพูชา
    สายเชื่อมต่ออินเทอร์เน็ตจะต่อเข้าที่นี่โดยตรง ไม่มีการใช้ร่วมกับผู้ใช้ในที่พักอาศัยอื่นๆ
    เช่น "true" FTTH</p>
    '
%}
<hr />
{% include components/cta.html
    heading_upper = "สำหรับเจ้าของธุรกิจ"
    heading_lower = "การแก้ปัญหา"
    section_heading_size = "mb-4"
    text_align = "left"

    content = '<p>เราแก้ปัญหาท้าทายต่าง ๆ ในกิจการเกสต์เฮาส์ของเรา
    วิธีแก้ปัญหาต่าง ๆ สามารถนำไปปรับใช้ได้กับธุรกิจเกสต์เฮาส์อื่น ๆ ซึ่งส่วนใหญ่มักจะมีเงินทุนไม่มากได้ด้วย
    เราวางแผนที่จะให้บริการแก้ปัญหาโดยปรับให้เข้ากับธุรกิจของแต่ละที่ด้วย
    Maker Guesthouse คือตัวอย่างของผลการทำงานของเรา ซึ่งจะทำให้คุณเห็นว่าคุณจะใช้เทคโนโลยีสมัยใหม่
    ในธุรกิจของคุณได้อย่างไร
    </p>
    '
%}
