---
layout: default
title: Products
lang: en
---
{% include components/product.html
    heading_upper = "Clean, reasonable, and functional"
    heading_lower = "Rooms"
    img_src = "/img/room.jpg"
    img_alt = "Rooms"
    link_button_enable = true
    link_button_href = "products/rooms/"
    link_button_text = "Read more"
    description = "
        Our 19 rooms includes single, double, and twin rooms. Each room have
        standard facilities: a private bathroom, A/C, and a fan. All rooms are
        well-covered by WiFi access points.
    "
%}
{% include components/product.html
    layout = "right-first"
    heading_upper = "The joy of making"
    heading_lower = "Maker Space"
    img_src = "/img/products-02.jpg"
    img_alt = ""
    link_button_enable = true
    link_button_href = "products/makerspace/"
    link_button_text = "Read more"
    description = "
        Two rooms at the ground floor are dedicated for Makers, equipped with
        electonics tools and instruments.
    "
%}
{% include components/product.html
    heading_upper = "Reliable and managed"
    heading_lower = "Network"
    img_src = "/img/products-03.jpg"
    img_alt = ""
    link_button_enable = true
    link_button_href = "products/network/"
    link_button_text = "Read more"
    description = '
        In the spirit of <strong>Maker</strong>, the WiFi and Ethernet network
        are designed, built, and operated by a professional. WiFi signal at every
        room is constantly monitored for possible issues, and visualized for
        trends. We promise to all the guests that your complaints are taken
        seriously and issues will be resolved quickly and effectively.
    '
%}
