---
layout: default
title: Products
lang: ja
permalink: products/
---
{% include components/product.html
    heading_upper = "清潔で快適な"
    heading_lower = "お部屋の紹介"
    img_src = "/img/room.jpg"
    img_alt = "お部屋の紹介"
    link_button_enable = true
    link_button_href = "products/rooms/"
    link_button_text = "さらに詳しく"
    description = "
        シングル、ダブル、ツイン全19室の各お部屋には、個室シャワーおよびお手洗い、エアコン、室内ファンが備えられており、全室で快適なネットワークをご利用いただけるようにWiFiアクセスポイントを設置しております。
    "
%}
{% include components/product.html
    layout = "right-first"
    heading_upper = "作る楽しさ"
    heading_lower = "メーカースペース"
    img_src = "/img/products-02.jpg"
    img_alt = ""
    link_button_enable = true
    link_button_href = "products/makerspace/"
    link_button_text = "さらに詳しく"
    description = "
        1階の2部屋はメーカースペースとしてお客様に開放しています。
    "
%}
{% include components/product.html
    heading_upper = "快適で安定した"
    heading_lower = "ネットワーク"
    img_src = "/img/products-03.jpg"
    img_alt = ""
    link_button_enable = true
    link_button_href = "products/network/"
    link_button_text = "さらに詳しく"
    description = "
        WiFiアクセスポイント及びネットワークは本物のプロによる設計、施行、監視をしています。WiFiの電波強度は各部屋で測定され、24時間監視されています。ご滞在中におけるネットワークの快適性は、お客様の満足度の重要な指標であるという理解の元に、障害やトラブルには迅速かつ適切な対応をお約束しま
        す。
    "
%}
